html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #F5F5F7;
}

header .app-title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    letter-spacing: 0.1em;
    color: #dfdfdf;
    text-shadow: 1px 1px white, -1px -1px #444;
    text-align: center;
    margin: 10px;
}

header p {
    font-size: 32px;
    font-family: Helvetica;
    font-weight: 200;
    text-align: center;
    margin: 10px;
    color: #dfdfdf;
    text-shadow: 1px 1px 5px white, -1px -1px #444;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
    position: relative;
}

.Board {
    width: 940px;
    margin: auto;
    margin-top: 5%;
}

.Divit {
    height: 20px;
    width: auto;
    background-color: #F5F5F7;
    box-shadow: inset 2px 4px 12px #cacaca;
}

.Hole {
    height: 15px;
    width: 15px;
    background-color: #888888;
    box-shadow: inset 0 0 5px 4px #cacaca;
    margin: 7.5px;
}

.PowerStrip {
    height: 60px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.TerminalStrip {
    height: 150px;
    box-shadow: 2px 4px 12px #cacaca;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.NegativeInd {
    height: 2px;
    width: auto;
    background-color: cornflowerblue;
    margin: 5px;
    margin-top: 5px;
}

.PositiveInd {
    height: 2px;
    width: auto;
    background-color: crimson;
    margin: 5px;
}

.PowerTab {
    height: 60px;
    width: auto;
    box-shadow: 2px 4px 12px #cacaca;
    position: relative;
}

.ToolBox {
    width: 940px;
    height: 200px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 4px 12px #cacaca;
}